*.iml
*.pyc
*.npy
Raspberry_pi/motorlocations/*.npy
/Raspberry_pi/motorlocations/*.npy
*.npy
/Raspbeerry_pi/__pycache__
.gradle
/Ras
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
